/* Basic sample */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    background: #f0f0f0;
    font-size: 14px;
    color: #535353;
}

body a,
body a:hover {
    color: var(--theme-color-1);
    text-decoration: none;
    outline: none !important;
}

@keyframes loadingAnimate {
    from {
        -webkit-transform: rotateY(0deg) scale(0.8);
        -o-transform: rotateY(0deg) scale(0.8);
        -ms-transform: rotateY(0deg) scale(0.8);
        -moz-transform: rotateY(0deg) scale(0.8);
        transform: rotateY(0deg) scale(0.8);
    }
    to {
        -webkit-transform: rotateY(-180deg) scale(0.8);
        -o-transform: rotateY(-180deg) scale(0.8);
        -ms-transform: rotateY(-180deg) scale(0.8);
        -moz-transform: rotateY(-180deg) scale(0.8);
        transform: rotateY(-180deg) scale(0.8);
    }
}

@-webkit-keyframes loadingAnimate {
    from {
        -webkit-transform: rotateY(0deg) scale(0.8);
        -o-transform: rotateY(0deg) scale(0.8);
        -ms-transform: rotateY(0deg) scale(0.8);
        -moz-transform: rotateY(0deg) scale(0.8);
        transform: rotateY(0deg) scale(0.8);
    }
    to {
        -webkit-transform: rotateY(-180deg) scale(0.8);
        -o-transform: rotateY(-180deg) scale(0.8);
        -ms-transform: rotateY(-180deg) scale(0.8);
        -moz-transform: rotateY(-180deg) scale(0.8);
        transform: rotateY(-180deg) scale(0.8);
    }
}

.loadingRun {
    -webkit-animation: loadingAnimate 1.2s infinite;
    animation: loadingAnimate 1.2s infinite;
}

.loader, .loader:after {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.loader {
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(255, 255, 255, 0.2);
    border-right: 1.1em solid rgba(255, 255, 255, 0.2);
    border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
    border-left: 1.1em solid #ffffff;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.flipbook-loader {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--theme-color-1);
    z-index: 99;
}

.flipbook-loader-container {
    width: 100%;
    height: 100%;
    opacity: 1;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    position: relative;
}

.flipbook-svg-wrapper {
    perspective: 200px;
    -webkit-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: absolute;
    width: 39.2px;
    height: 44.8px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
    transform: translate(-50% , -50%);
    padding: 0;
}

.flipbook-svg1 {
    position: absolute;
    left: 20px;
    top: 0;
    -webkit-transform: rotateY(0) scale(0.8);
    -o-transform: rotateY(0) scale(0.8);
    -ms-transform: rotateY(0) scale(0.8);
    -moz-transform: rotateY(0) scale(0.8);
    transform: rotateY(0) scale(0.8);
    -webkit-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;
    fill: #fff;
}

.flipbook-svg2 {
    position: absolute;
    left: 20px;
    top: 0;
    -webkit-transform: rotateY(180deg) scale(0.8);
    -o-transform: rotateY(180deg) scale(0.8);
    -ms-transform: rotateY(180deg) scale(0.8);
    -moz-transform: rotateY(180deg) scale(0.8);
    transform: rotateY(180deg) scale(0.8);
    -webkit-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;
    fill: #fff;
}

.flipbook-svg3 {
    position: absolute;
    left: 20px;
    top: 0;
    z-index: -1;
    -webkit-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;
    fill: #fff;
}

.single-page-header {
    margin-bottom: 5px;
    padding: 30px 0;
    position: relative;
}

.single-page-header:after, .single-page-header:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    z-index: 15;
    background: linear-gradient(to right, rgba(247, 247, 247, 0.75) 34%, rgba(247, 247, 247, 0.55) 70%, rgba(247, 247, 247, 0.14) 90%);
}

.single-page-header .container {
    z-index: 59;
    position: relative;
}

.single-page-header .single-page-header-inner {
    display: flex;
}

.single-page-header .left-side {
    padding-right: 30px;
}

.single-page-header .left-side, .single-page-header .right-side {
    flex: 1;
    display: flex;
    align-items: center;
}

.single-page-header .header-image {
    height: 120px;
    flex: 0 0 120px;
    margin-right: 35px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, .1);
    display: flex;
    padding: 12px;
}

.single-page-header .background-image-container {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 50%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
}

.single-page-header .header-image img {
    align-self: center;
    transform: translate3d(0, 0, 0);
}

.single-page-header .header-details {
    flex: 1;
}

.single-page-header .header-details h3 {
    color: #333;
    font-size: 26px;
    padding: 0;
    margin: 3px 0 20px;
    line-height: 36px;
    position: relative;
    display: inline-block;
}

.single-page-header .header-details h3 span {
    color: gray;
    display: block;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
}

.single-page-header .header-details ul {
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 24px;
    margin-bottom: -7px;
}

.single-page-header .header-details li {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 12px;
    font-size: 16px;
}

.single-page-header .header-details li i,
.single-page-header .header-details li .feather {
    font-size: 20px;
    position: relative;
    margin-right: 2px;
}

@media (max-width: 1240px) {
    .single-page-header .header-image {
        height: 120px;
        flex: 0 0 120px;
    }

    .single-page-header .header-details h3 {
        font-size: 26px;
    }
}

@media (max-width: 992px) {

    .single-page-header {
        padding: 20px 0;
    }

    .single-page-header .header-image {
        padding: 5px 5px;
        margin: 10px 0;
        height: 70px;
        flex: 0 0 70px;
        width: 70px;
        margin-bottom: -70px;
    }

    .single-page-header .single-page-header-inner {
        display: flex;
        flex-direction: column;
    }

    .single-page-header .left-side, .single-page-header .right-side, .single-page-header-inner {
        display: block;
        max-width: 100%;
    }

    .single-page-header .left-side {
        padding-right: 0;
    }

    .single-page-header .header-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .single-page-header .header-details h3 {
        font-size: 24px;
    }

    .single-page-header .header-details h3 {
        margin-left: 90px;
        display: block;
    }

}

.flipbook .page {
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.flipbook .page img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
}

.flipbook .shadow {
    -webkit-transition: -webkit-box-shadow 0.5s;
    -moz-transition: -moz-box-shadow 0.5s;
    -o-transition: -webkit-box-shadow 0.5s;
    -ms-transition: -ms-box-shadow 0.5s;

    -webkit-box-shadow: 0 0 20px #ccc;
    -moz-box-shadow: 0 0 20px #ccc;
    -o-box-shadow: 0 0 20px #ccc;
    -ms-box-shadow: 0 0 20px #ccc;
    box-shadow: 0 0 20px #ccc;
}

.wrapper {
    display: flex;
    height: 100%;
    justify-content: center;
    margin: 2%;
    width: 96%;
    overflow: hidden;
}

.aspect {
    padding-bottom: 100%;
    position: relative;
    width: 100%;
}

.aspect-inner {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.flipbook {
    height: 100%;
    transition: margin-left 0.25s ease-out;
    width: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.flipbook .page {
    height: 100%;
    width: 100%;
}

.flipbook .page img {
    width: 100%;
    height: auto;
}

.ui-loader {
    display: none !important;
}

.snackbar-container {transition: all 500ms ease;transition-property: top, right, bottom, left, opacity;font-size: 16px;min-height: 14px;background-color: #404040;position: fixed;display: flex;justify-content: space-between;align-items: center;color: #fff;line-height: 22px;padding: 18px 24px;bottom: -100px;top: -100px;opacity: 0;z-index: 9999;cursor: default;border-radius: 4px;font-weight: 500 }
.snackbar-container .action {background: inherit;display: inline-block;border: none;font-size: inherit;text-transform: uppercase;color: #aaa;margin: 0 0 0 24px;padding: 0;min-width: min-content;cursor: pointer;font-weight: 500;font-size: 14px }.snackbar-container {display: inline-flex;margin: 24px 0; text-align: center }
.snackbar-pos.bottom-center {top: auto !important;bottom: 0;left: 50%;transform: translate(-50%, 0) }
.snackbar-pos.bottom-left {top: auto !important;bottom: 0;left: 0 }
.snackbar-pos.bottom-right {top: auto !important;bottom: 0;right: 0 }
.snackbar-pos.top-left {bottom: auto !important;top: 0;left: 0 }
.snackbar-pos.top-center {bottom: auto !important;top: 0;left: 50%;transform: translate(-50%, 0) }
.snackbar-pos.top-right {bottom: auto !important;top: 0;right: 0 }