body{text-align: right}
button{background: right 0;}
#logo{border-left: 1px solid #e0e0e0;border-right: none;padding-left: 35px;padding-right: 0;margin-left: 20px;margin-right: auto;}
#header .left-side{float: right;}
#header .right-side{float: left;text-align: left;left: 25px;right: auto;}
.full-width #header .left-side{float: right;}
.full-width #header .right-side{float: left;text-align: left;left: 25px;right: auto;}
.header-widget{border-right: 1px solid #e0e0e0;border-left: none;text-align: right;float: right;}
.fullwidth .header-widget:last-of-type{padding-left: 0;float: left;border-left: none;border-right: none;margin-left: 0;}
.header-widget:last-of-type{padding-left: 0;margin-left: -5px;margin-right: auto;}
.header-widget .log-in-button i{margin-left: 4px;margin-right: -1px;}
@media (max-width: 768px){.user-menu .header-notifications-dropdown, .header-notifications-dropdown{left: -10px;right: auto;}
.notify-box .sort-by{right: 0;left: auto;}
.notify-box .sort-by .bootstrap-select .dropdown-menu{right: 0;left: auto;}
.single-page-header.freelancer-header .header-details h3{margin-right: 90px;margin-left: auto;}
.comment-content{padding: 0 70px 0 0 ;}
#posts-nav li.next-post{text-align: right;}
.contact-location-info .contact-address{border-radius: 4px 4px 0 0;}
.contact-location-info #single-job-map-container #singleListingMap{border-radius: 0 0 4px 4px;}
.billing-cycle .radio{margin-left: 0;}
.dashboard-box .freelancer-overview .freelancer-avatar .verified-badge{left: -5px;right: auto;}
.dashboard-box .freelancer-overview .freelancer-name{margin: 0 25px 0 0 ;}
.dashboard-task-info li{border-left: none;border-right: none;}
.dashboard-task-info li:last-child{border-left: none;border-right: none;}
#titlebar #breadcrumbs, .dashboard-headline #breadcrumbs{left: 0;right: auto;}
.buttons-to-right:not(.single-right-button){left: auto;right: auto;}
.dashboard-box .headline .sort-by{left: 0;right: -8px;}
.dashboard-box .headline .sort-by .bootstrap-select .dropdown-menu{right: 0;left: auto;}
.messages-container-inner .messages-inbox{border-left: none;border-right: none;}
.messages-container-inner .message-by-headline span{left: 0;right: auto;}
.message-action{left: 0;right: auto;}
.cookieConsentContainer{right: 0 !important;left: auto;}
}
@media (max-width: 480px){.fullwidth .header-widget{padding-left: 3px;}
.category-box{margin-left: 0;}
.dashboard-box .headline .live-preview-button{margin-right: 0;}
}
.header-notifications{padding-left: 15px;padding-right: 0;}
.header-notifications:last-child{margin-left: -15px;margin-right: auto;}
.header-notifications-trigger span{margin-right: -10px;margin-left: auto;}
.header-notifications-dropdown{left: -15px;right: auto;text-align: right;}
.header-notifications-dropdown:before{left: 43px;right: auto;border-right: 6px solid transparent;border-left: 6px solid transparent;}
button.mark-as-read{float: left;left: -8px;right: auto;}
.notification-icon .icon-material-outline-gavel{right: 1px;left: auto;}
.notification-text, .header-notifications-content .notification-text{padding-right: 20px;padding-left: 5px;}
a.header-notifications-button{border-radius: 0 0 4px 4px;}
a.header-notifications-button i{margin-right: 7px;margin-left: auto;}
.user-menu .header-notifications-dropdown{left: -10px;right: auto;}
.user-menu .header-notifications-dropdown:before{left: 23px;right: auto;}
.status-icon, .notification-avatar:after{left: 0;right: auto;}
ul.user-menu-small-nav li a i{margin-left: 2px;margin-right: auto;}
.user-name{padding-right: 15px;padding-left: 0;}
.status-switch label{float: right;}
.status-switch span.status-indicator{right: 0;left: auto;border-radius: 0 4px 4px 0;}
.status-switch span.right{right: 50%;left: auto;border-radius: 4px 0 0 4px;}
#navigation ul{float: right;}
#navigation ul a{border-left: 4px;border-right: none;}
#navigation ul li{float: right;}
#navigation ul li ul{right: 9px;left: auto;}
#navigation ul ul ul{right: 100%;left: auto;margin: 0 15px 0 0 ;}
#navigation ul ul:before{right: 0;left: auto;}
#navigation ul ul ul:after{right: -15px;left: auto;}
#navigation ul li a:after, #navigation ul ul li a:after{margin-right: 7px;margin-left: auto;}
#navigation ul ul.dropdown-nav ul.dropdown-nav li a:after, #navigation ul ul.dropdown-nav li a:after{right: auto;left: 20px;}
#navigation ul ul li:last-child{border-radius: 0 0 4px 4px;}
#navigation ul li:hover ul a, #navigation ul ul a{padding: 4px 15px 4px 40px !important;}
#navigation ul ul:after{right: 25px;left: auto;border-right: 5px solid transparent;border-left: 5px solid transparent;}
#navigation ul ul ul:before{right: -15px;left: auto;}
#navigation ul ul li:first-child{border-radius: 4px 4px 0 0;}
.mega-menu{right: 0;left: auto;}
.mega-menu:before{right: 0;left: auto;}
#navigation ul li .mega-menu ul{right: auto;left: auto;}
#navigation ul .mega-menu ul a{margin-right: 0;}
#navigation .mega-menu:after{right: calc(50% - 10px);left: auto;border-right: 5px solid transparent;border-left: 5px solid transparent;}
#navigation ul li a i{padding-left: 5px;padding-right: 0;}
.mega-menu-section{float: right;border-left: 1px solid #444;border-right: none;}
.mobile-styles .mm-listview li a i{padding-left: 5px;padding-right: 0;}
@media (max-width: 1099px){.mmenu-trigger{margin: 0 23px 0 -5px ;float: left;}
.header-widget{float: right;}
.fullwidth .header-widget:last-of-type, .header-widget:last-of-type{float: right;}
#header .right-side{text-align: right;}
.header-notifications:first-child{margin-left: -5px;margin-right: auto;}
}
.transparent-header #logo, .transparent-header #header .right-side .header-widget{border-color: rgba(255, .2) 255, 255, ;}
.transparent-header #header .right-side .header-widget:first-of-type{border-left-color: transparent;border-right-color: unset;}
.transparent-header #header .right-side .header-widget:last-of-type{border-color: rgba(255, .2) 255, 255, ;}
.mm-menu{right: 0;left: 0;border-color: rgba(255, .1) 255, 255, ;}
.mm-panels, .mm-panels > .mm-panel{right: 0;left: 0;}
.mm-listview .mm-vertical .mm-panel, .mm-vertical .mm-listview .mm-panel{padding: 10px 10px 10px 0 ;}
.mm-listview > li.mm-vertical.mm-opened > .mm-next:after, .mm-vertical .mm-listview > li.mm-opened > .mm-next:after{left: 19px;right: auto;}
.mm-clear:before, .mm-close:before{border-left: none;border-right: none;left: 18px;right: auto;}
.mm-clear:after, .mm-close:after{border-right: none;border-left: none;left: 25px;right: auto;}
.mm-next:after, .mm-prev:before{border-right: 2px solid transparent;border-left: none;}
.mm-prev:before{right: 23px;left: auto;}
.mm-next:after{left: 23px;right: auto;}
.mm-navbar{right: 0;left: 0;}
.mm-navbar .mm-btn:first-child{right: 0;left: auto;}
.mm-navbar .mm-btn:last-child{text-align: left;left: 0;right: auto;}
.mm-listview > li > a, .mm-listview > li > span{padding: 14px 20px 14px 10px ;}
.mm-listview > li:not(.mm-divider):after{right: 20px;left: 0;}
.mm-listview .mm-next{left: 0;right: auto;}
.mm-listview .mm-next:before{border-right-width: 1px;border-left-width: unset;border-right-style: solid;border-left-style: unset;right: 0;left: auto;}
.mm-listview .mm-next + a, .mm-listview .mm-next + span{margin-left: 50px;margin-right: auto;}
.mm-listview .mm-next.mm-fullsubopen:before{border-right: none;border-left: none;}
.mm-listview .mm-next.mm-fullsubopen + a, .mm-listview .mm-next.mm-fullsubopen + span{padding-left: 50px;padding-right: 0;margin-left: 0;}
.mm-menu .mm-btn:after, .mm-menu .mm-btn:before{border-color: rgba(255, .8) 255, 255, ;}
.mm-menu .mm-listview > li .mm-next:after{border-color: rgba(255, .8) 255, 255, ;}
#mm-blocker{right: 0;left: auto;}
em.mm-counter{left: 45px;right: auto;}
em.mm-counter + a.mm-next + a, em.mm-counter + a.mm-next + span{margin-left: 90px;margin-right: auto;}
em.mm-counter + a.mm-fullsubopen{padding-right: 0;}
em.mm-counter + a.mm-fullsubopen + a, em.mm-counter + a.mm-fullsubopen + span{padding-left: 90px;padding-right: 0;}
.mm-listview em.mm-counter + .mm-next.mm-fullsubopen + a, .mm-listview em.mm-counter + .mm-next.mm-fullsubopen + span{padding-left: 90px;padding-right: 0;}
.hamburger{right: 12px;left: auto;}
.footer-row{border-left: 1px solid #484848;border-right: 1px solid #484848;float: right;}
.footer-row:first-child{padding-right: 0;border-right: none;border-left: none;}
.footer-row:last-child{padding-left: 0;}
.footer-rows-right .footer-row:first-child{padding-right: 40px;padding-left: 0;border-right: 1px solid #484848;border-left: none;}
.language-switcher.bootstrap-select .dropdown-menu{right: auto;left: 0;}
.language-switcher.bootstrap-select .dropdown-menu:before{left: 20px;right: auto;border-right: 5px solid transparent;border-left: 5px solid transparent;}
.language-switcher.bootstrap-select.btn-group button{padding-left: 35px;padding-right: 18px;}
.language-switcher.bootstrap-select.btn-group .dropdown-toggle .caret{left: 18px;right: auto;}
.footer-social-links li{float: right;}
#footer h3 i{margin-left: 5px;margin-right: auto;}
.footer-links ul{text-align: right;}
.footer-links ul li a span:before{right: 0;left: auto;}
.newsletter button{margin-right: 10px;margin-left: auto;}
@media (max-width: 992px){.single-page-header .left-side{padding-left: 0;}
.single-page-header.freelancer-header .header-details h3{margin-right: 90px;margin-left: auto;}
.intro-banner .background-image-container{right: 0;left: auto;}
.intro-banner-search-form .input-with-icon i{right: 17px;left: auto;}
.intro-banner-search-form .input-with-icon input{padding-right: 50px;padding-left: 0;}
.intro-banner-search-form{background: right 0;}
.intro-banner-search-form .type-and-hit-enter{left: 14px;right: auto;}
.main-search-input.gray-style .type-and-hit-enter, .main-search-container:not(.alt-search-box) .type-and-hit-enter{left: 20px;right: auto;}
.dashboard-nav{border-radius: 0 0 4px 4px;}
a.dashboard-responsive-nav-trigger span.trigger-title{padding-right: 33px;padding-left: 0;}
a.dashboard-responsive-nav-trigger .hamburger{right: 0;left: auto;}
a.dashboard-responsive-nav-trigger i{margin-left: 8px;margin-right: -2px;}
a.dashboard-responsive-nav-trigger.active{border-radius: 4px 4px 0 0;}
.fun-fact{margin: 0 0 15px 15px ;}
}
.pagination ul li a, .pagination-next-prev ul li a{float: right;}
#backtotop{left: 0;right: auto;margin: 0 0 0 25px ;}
.notify-box .switch-button{margin-left: 10px;margin-right: auto;}
.sort-by .bootstrap-select{left: 0;right: auto;}
.sort-by .bootstrap-select.btn-group button{left: 0;right: auto;margin-right: 10px;margin-left: auto;padding-left: 12px;padding-right: 0;}
.sort-by .bootstrap-select.btn-group .dropdown-toggle .caret{left: 0;right: auto;}
.sort-by .bootstrap-select .dropdown-menu{left: 0;right: auto;}
.sort-by{float: left;}
#titlebar.gradient{background: linear-gradient(to bottom, rgba(0, 0, 0, 0.03) 100% rgba(255, 255, 255, 0));}
#titlebar.transparent{background: right 0;}
#breadcrumbs{left: 15px;right: auto;}
#breadcrumbs ul li{margin: 0 7px 0 0 ;}
#breadcrumbs ul li:first-child{margin-right: 0;}
#breadcrumbs ul li:before{border-right: 4px solid #aaa;border-left: none;margin-left: 12px;margin-right: auto;}
#breadcrumbs.dark ul li:before{border-right: 4px solid rgba(255, 255, 255, .3);border-left: none;}
#breadcrumbs.white ul li:before{border-right: 4px solid rgba(0, 0, 0, .3);border-left: none;}
.single-page-header #breadcrumbs{right: 0;left: auto;margin-right: auto;margin-left: auto;}
.single-page-header:after, .single-page-header:before{right: 0;left: auto;background: linear-gradient(to left, rgba(247, 247, 247, 1) 50%, rgba(247, 247, 247, 0.8) 70%, rgba(247, 247, 247, 0.8) 90%);}
.single-page-header .background-image-container{background-position: 0% 50%;right: 50%;left: auto;}
.single-page-header .left-side{padding-left: 30px;padding-right: 0;}
.single-page-header .header-image{margin-left: 35px;margin-right: auto;}
.single-page-header .header-details h3{padding-left: 0;}
.single-page-header .header-details li{margin-left: 20px;margin-right: auto;}
.single-page-header .header-details li:last-child{margin-left: 0;}
.single-page-header .header-details li i{margin-left: 2px;margin-right: auto;}
.single-page-header .header-details ul li img.flag{margin-left: 5px;margin-right: auto;}
.single-page-header .salary-box{margin-right: auto;margin-left: auto;}
@media (max-width: 1366px){.dashboard-task-info{left: 0;right: auto;}
}
@media (max-width: 1240px){
.bidding-widget .bidding-fields .bidding-field{margin-left: 0;}
.profile-overview .overview-item{border-left: 0;border-right: none;}
.profile-overview .overview-item:last-child{border-left: none;border-right: none;}
}
.blog-post-thumbnail-inner img{right: 0;left: auto;}
.blog-post-thumbnail-inner .blog-item-tag{right: 20px;left: auto;}
a.blog-post-info, .blog-post-info, .blog-post-date{margin-left: 3px;margin-right: auto;}
.blog-post-content a.button i.icon-feather-arrow-right{right: -1px;left: auto;}
blockquote{border-right: 5px solid #eee;border-left: none;}
#posts-nav li span{margin-left: 3px;margin-right: auto;}
#posts-nav li.next-post{left: 0;right: auto;text-align: left;}
#posts-nav li.prev-post{right: 0;left: auto;}
#posts-nav li.next-post a{padding-left: 50px;padding-right: 0;}
#posts-nav li.prev-post a{padding-right: 50px;padding-left: 0;}
#posts-nav li.next-post a:before{left: 0;right: auto;}
#posts-nav li.prev-post a:before{right: 0;left: auto;}
.comments ul{padding-right: 0;}
.comments ul li, .comments ul li ul li, .comments ul li ul li ul li, .comments ul li ul li ul li{margin: 50px 0 0 0 ;}
.comments ul li ul{margin: 0 100px 0 0 ;border-right: 1px solid #e0e0e0;border-left: none;padding-right: 35px;padding-left: 0;}
.comment-content{padding: 0 100px 0 0 ;}
.comments ul li ul li:before{right: -35px;left: auto;}
.comment-content strong{padding-left: 5px;padding-right: 0;}
.avatar{float: right;padding: 0 0 0 17px ;right: 0;left: auto;}
.comment-by a.reply{left: 0;right: auto;}
.comment-by a.reply i{margin-left: 1px;margin-right: auto;}
.comment-by span.date{text-align: right;}
.blog-compact-item-container{background: right 0;}
.blog-compact-item{background-position: 50%;}
.blog-compact-item:before{background: linear-gradient(to top, rgba(51, 51, 51, 0.8) 100% rgba(51, 51, 51, 0.7) 35%, rgba(51, 51, 51, 0.3) 60%, rgba(51, 51, 51, 0.3) 100%);}
.blog-compact-item-content{right: 0;left: auto;}
span.blog-item-tag{right: 32px;left: auto;}
.blog-post-tags li{margin-left: 5px;margin-right: auto;}
.blog-post-tags li i{margin-left: 3px;margin-right: auto;}
.contact-location-info #single-job-map-container #singleListingMap{border-radius: 4px 0 0 4px;}
.contact-location-info .contact-address{border-left: 0;border-right: none;border-radius: 0 4px 4px 0;}
.contact-location-info .freelancer-socials{margin-right: -8px;margin-left: auto;}
.full-page-content-inner .grid-layout .job-listing{margin: 0 0 30px 30px ;}
.small-footer{right: -40px;left: auto;}
.small-footer .footer-social-links{text-align: left;float: left;margin: 0 0 0 -5px ;}
.enable-filters-button{right: 48px;left: auto;border-radius: 4px 0 0 4px;}
.enable-filters-button span{border-radius: 4px 0 0 4px;}
.filter-button-container{right: 40px;left: auto;}
.filter-button-tooltip{right: 15px;left: auto;margin-right: 15px;margin-left: auto;}
.filter-button-tooltip:before{right: -3px;left: auto;border-color: transparent #fff #fff transparent ;}
.enable-filters-button i{right: -48px;left: auto;border-radius: 0 4px 4px 0;}
.enable-filters-button i:after, .enable-filters-button i:before{right: 0;left: 0;border-radius: 0 4px 4px 0;}
.location-field-on-map{left: 40px;right: auto;}
.letters-list a.current{margin-left: 0;}
.companies-list .company{margin: 0 0 30px 30px ;}
@media (min-width: 993px){.companies-list .company:nth-child(3n){border-left: none;border-right: none;}
}
.button i[class^=icon-material], button.button i[class^=icon-material], input[type=button] i[class^=icon-material], input[type=submit] i[class^=icon-material], a.button i[class^=icon-material]{margin-right: 3px;margin-left: auto;}
.button i[class^=icon-feather], button.button i[class^=icon-feather], input[type=button] i[class^=icon-feather], input[type=submit] i[class^=icon-feather], a.button i[class^=icon-feather]{margin-right: 3px;margin-left: auto;}
.button.button-slide-out i{right: 0;left: 0;}
span.bookmark-icon{left: 35px;right: auto;}
.bookmark-icon:before{left: 0;right: 0;}
.bookmark-button{padding-right: 59px;padding-left: 0;}
.bookmark-button .bookmark-icon{border-radius: 0 4px 4px 0;right: 0;left: auto;}
.button.button-sliding-icon{padding-right: 20px;padding-left: 10px;}
.button.button-sliding-icon:hover{padding-left: 20px;padding-right: 0;}
.button.button-sliding-icon i{padding-left: 5px;padding-right: 0;}
.list-3 li, .list-2 li, .list-1 li{margin-right: 20px;margin-left: auto;}
.list-4 li:before, .list-3 li:before, .list-2 li:before, .list-1 li:before{float: right;margin-right: -20px;margin-left: auto;}
.list-2 li, .list-2 li{margin-right: 28px;margin-left: auto;}
.list-3 li:before, .list-2 li:before{margin-right: -28px;margin-left: auto;}
.numbered ol{margin-right: 18px;margin-left: auto;}
.numbered ol > li::before{margin-right: 0;float: right;right: -18px;left: auto;}
#result .success, .notification{padding-left: 50px;padding-right: 0;}
.notification.success .close, .notification.error .close, .notification.warning .close, .notification.notice .close{left: 0;right: auto;}
.notification a.button{float: left;}
.notification.closeable a.close:before{left: 25px;right: auto;}
table.basic-table th{text-align: right;}
table.basic-table th:first-child{border-radius: 0 4px 4px 0;}
table.basic-table th:last-child{border-radius: 4px 0 0 4px;}
@media screen and (max-width: 600px){table td{text-align: left;}
table td:before{float: right;}
}
.accordion-header:before{right: 0;left: auto;}
.accordion__item > .accordion-header:after{float: left;}
.tabs-header .tab-hover{right: 0;left: auto;}
.tabs-nav{left: 0;right: auto;}
.tabs-nav i{margin-right: 5px;margin-left: auto;}
.tabs-content:after{right: 0;left: auto;}
.copy-url input{border-radius: 0 4px 4px 0;border-left: 0;border-right: none;}
.copy-url .copy-url-button{border-radius: 4px 0 0 4px;}
.share-buttons-content span{margin-right: 10px;margin-left: auto;}
.share-buttons-icons{right: 5px;left: auto;}
.share-buttons-icons li{float: right;}
.share-buttons-icons li:first-child a{border-radius: 0 4px 4px 0;}
.share-buttons-icons li:last-child a{border-radius: 4px 0 0 4px;}
.verified-badge-with-title{padding: 0 0 0 8px ;padding-right: 34px;padding-left: 0;}
.verified-badge-with-title:before{right: 0;left: auto;}
.star-rating .star{float: right;margin-left: 0;}
.star-rating:before{float: right;margin-left: 10px;margin-right: auto;}
.star-rating.no-stars:before{margin-left: 0;}
.leave-rating{float: right;}
.leave-rating input[type=radio]{margin-right: 50%;margin-left: auto;right: 0;left: auto;}
.leave-rating label{float: left;}
.welcome-text .leave-rating-container{right: 50%;left: auto;}
.welcome-text .leave-rating{right: 50%;left: auto;}
.input-with-icon input{padding-left: 45px;padding-right: 0;}
.input-with-icon i{left: 15px;right: auto;}
.input-with-icon-left input{padding-right: 65px;padding-left: 0;}
.input-with-icon-left i{border-radius: 0 4px 4px 0;}
.keywords-list{float: right;}
.keyword{float: right;margin: 0 0 7px 7px ;}
.keyword-text{padding-left: 12px;padding-right: 0;}
.keyword .keyword-remove:before{margin-left: 4px;margin-right: 10px;}
.keyword-input-container .keyword-input-button{left: 0;right: auto;}
.tags-container input[type=checkbox]:checked + label:before{margin: 0 -2px 0 5px ;}
.tags-container .tag{float: right;margin: 0 0 7px 7px ;}
.switches-list .switch-container label{padding-right: 45px;padding-left: 0;}
.switch-button{margin: 0 0 0 7px ;right: 0;left: auto;}
.switch span.switch-text{padding-right: 48px;padding-left: 0;}
.switch-button:before{right: 2px;left: auto;}
.radio label{padding-right: 29px;padding-left: 0;}
.radio input[type=radio] + label .radio-label{margin-left: 5px;margin-right: auto;right: 0;left: auto;}
.radio input[type=radio] + label .radio-label:after{right: 0;left: 0;}
.radio-label:before{right: 0;left: auto;}
.small-label{margin-right: 5px;margin-left: auto;}
.checkbox label{padding-right: 30px;padding-left: 0;}
.checkbox label span.checkbox-icon{margin-left: 5px;margin-right: auto;right: 0;left: auto;}
.uploadButton .uploadButton-file-name{padding-right: 18px;padding-left: 0;}
.intro-banner:after, .intro-banner:before{right: 0;left: auto;background: linear-gradient(to left, rgba(250, 250, 250, 1) 80%, rgba(250, 250, 250, .95) 50%, rgba(250, 250, 250, 0.1) 80%, rgba(250, 250, 250, 0) 100%);}
.intro-banner .background-image-container{background-position: 0% 60%;right: 10%;left: auto;}
.intro-banner.disable-gradient .background-image-container{right: 0;left: auto;}
.video-container{right: 0;left: auto;background-position: 50%;}
.video-container video{right: 0;left: auto;}
.intro-search-field{border-left: 1px solid #e4e4e4;border-right: none;}
.intro-search-field .field-title{right: 0;left: auto;}
.intro-banner-search-form .intro-search-field:nth-last-child(2){border-left: none;border-right: none;}
.intro-search-button{margin-right: 0;}
.intro-banner-search-form .input-with-icon input{padding-right: 43px;padding-left: 0;}
.intro-banner-search-form .input-with-icon i{left: auto;right: 10px;}
.intro-search-field.with-autocomplete .pac-container{right: 0 !important;left: auto;border-radius: 0 0 4px 4px;}
.intro-search-field.with-autocomplete .pac-container:before{right: 0;left: auto;}
.intro-stats li{margin-left: 35px;margin-right: auto;padding-left: 35px;padding-right: 0;border-left: 1px solid #e0e0e0;border-right: none;}
.intro-stats li:last-child{margin-left: 0;padding-left: 0;border-left: none;border-right: none;}
.intro-banner.dark-overlay .background-image-container{right: 0;left: auto;background-position: 0%;}
.intro-banner.dark-overlay .intro-stats li{border-left: 1px solid rgba(255, 255, 255, .25);border-right: none;}
.intro-banner.dark-overlay .intro-stats li:last-child{border-left: none;border-right: none;}
.photo-box{background-position: 0%;}
.photo-box:before{right: 0;left: auto;}
.photo-box-content{right: 30px;left: auto;}
.photo-box.small .photo-box-content{right: 0;left: 0;}
.billing-cycle-radios.text-align-left{text-align: right;}
.billing-cycle-radios .radio{margin-left: 20px;margin-right: auto;}
.billing-cycle-radios .radio:last-child{margin-left: 0;}
.pricing-plan:first-of-type{padding-right: 35px;padding-left: 0;}
.pricing-plan.recommended:last-of-type {margin-left: 0}
.pricing-plan-label strong{margin-left: 5px;margin-right: auto;}
.pricing-plan .recommended-badge{right: 0;left: auto;border-radius: 4px 4px 0 0;}
.boxed-widget-headline{border-radius: 4px 4px 0 0;}
.boxed-widget ul li span{float: left;}
.listing-item-container.compact.order-summary-widget .listing-item{border-radius: 4px 4px 0 0;}
.billing-cycle .radio{margin: 5px 0 5px 20px ;}
.billing-cycle .radio:last-of-type{margin-left: 0;}
.billing-cycle .radio input[type=radio] + label .radio-label{margin-left: 7px;margin-right: auto;}
.billing-cycle-details{padding-right: 30px;padding-left: 0;}
.discounted-price-tag, .regular-price-tag{margin-left: 5px;margin-right: auto;}
.payment-logo{left: 19px;right: auto;}
.payment-tab-trigger > label::before{margin-left: 10px;margin-right: auto;}
.payment-tab-trigger > label::after{right: 5px;left: auto;}
.payment-tab:first-of-type{border-radius: 4px 4px 0 0;}
.payment-tab:last-of-type{border-radius: 0 0 4px 4px;}
.card-label > label{margin: 6px 8px auto auto ;}
.breathing-icon i{right: 0;left: 0;}
.icon-box-check{left: -10px;right: auto;}
.icon-box.with-line:before{right: 50%;left: auto;}
.testimonial-box{background: right 0;}
.testimonial-box:before{right: 0;left: auto;}
.testimonial-avatar{right: 0;left: 0;}
.logo-carousel .carousel-item img{right: 0;left: 0;}
.blog-carousel{right: -15px;left: auto;}
.photo-section{background-position: 50%;}
.text-content{background: right 0;}
.single-counter{border-left: 1px solid #e0e0e0;border-right: none;}
.single-counter:last-child{border-left: 0;border-right: none;}
.single-counter i{right: 0;left: 0;}
.bidding-widget .bidding-headline{border-radius: 4px 4px 0 0;}
.bidding-widget .bidding-fields .bidding-field{margin-left: 20px;margin-right: auto;}
.qtyTitle{padding-left: 15px;padding-right: 0;}
.qtyTotal{right: 2px;left: auto;}
#not-found i{margin-right: -40px;margin-left: auto;}
@media (max-width: 767px){#not-found i{margin-right: 0;}
.login-register-page .account-type div{margin-left: 0;}
.login-register-page .social-login-buttons button{margin-left: 0;}
}
.simplebar-track{left: 0;right: auto;}
.simplebar-scrollbar{left: 6px;right: auto;}
.simplebar-scrollbar:before{right: 0;left: 0;}
.simplebar-track.horizontal{right: 0;left: auto;}
.simplebar-track.horizontal .simplebar-scrollbar:before{right: 2px;left: 2px;}
.horizontal.simplebar-track .simplebar-scrollbar{left: auto;right: auto;}
.tippy-popper[x-placement^=right] .tippy-tooltip.dark-theme .tippy-arrow{border-left-color: #333;border-right-color: unset;}
.tippy-popper[x-placement^=left] .tippy-tooltip.dark-theme .tippy-arrow{border-right-color: #333;border-left-color: unset;}
.tippy-popper[x-placement^=right] .tippy-tooltip.light-theme .tippy-arrow{border-left-color: #fff;border-right-color: unset;}
.tippy-popper[x-placement^=left] .tippy-tooltip.light-theme .tippy-arrow{border-right-color: #fff;border-left-color: unset;}
.mfp-bg{right: 0;left: auto;}
.mfp-wrap{right: 0;left: auto;}
.mfp-container{right: 0;left: auto;}
.mfp-content{text-align: right;}
.mfp-preloader{right: 8px;left: 8px;}
.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close{left: 0;right: auto;}
.og-close, button.mfp-close{left: -12px;right: auto;}
.mfp-iframe-holder .mfp-close{left: -12px;right: auto;}
.mfp-gallery .mfp-close{left: 10px;right: auto;}
.og-close{left: 10px;right: auto;background: right 0;}
.og-close:before, .mfp-close:before{right: 0;left: auto;}
#sign-in-dialog .mfp-close, #small-dialog-1 .mfp-close, #small-dialog-2 .mfp-close, #small-dialog-3 .mfp-close, #small-dialog-4 .mfp-close, #small-dialog .mfp-close{left: 40px;right: auto;}
.small-dialog-header{right: -40px;left: auto;border-radius: 4px 4px 0 0;}
.mfp-counter{left: 0;right: auto;}
.mfp-arrow.mfp-arrow-right{left: 15px;right: auto;}
.mfp-arrow.mfp-arrow-left:before{right: -1px;left: auto;}
.mfp-arrow.mfp-arrow-right:before{right: 1px;left: auto;}
.mfp-iframe-scaler iframe{right: 0;left: auto;}
#sign-in-dialog, #small-dialog-1, #small-dialog-2, #small-dialog-3, #small-dialog-4, #small-dialog{text-align: right;}
.mfp-figure:after{right: 0;left: 0;}
.mfp-bottom-bar{right: 0;left: auto;}
.mfp-title{text-align: right;padding-left: 36px;padding-right: 0;}
@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px){.mfp-img-mobile .mfp-image-holder{padding-right: 0;padding-left: 0;}
.mfp-img-mobile .mfp-counter{left: 5px;right: auto;}
.mfp-img-mobile .mfp-close{left: 0;right: auto;}
.mfp-img-mobile .mfp-figure small{margin-right: 5px;margin-left: auto;}
}
.mfp-ie7 .mfp-bottom-bar{right: 50%;left: auto;margin-right: -300px;margin-left: auto;}
.mfp-ie7 .mfp-close{left: 0;right: auto;}
.feedback-yes-no .radio{margin-left: 15px;margin-right: auto;}
.feedback-yes-no .leave-rating{margin: 3px 3px 10px 0 ;}
.popup-tabs-nav{border-radius: 4px 4px 0 0;}
.popup-tabs-nav li{float: right;margin-left: 0;}
.popup-tabs-nav li:first-child a{border-radius: 0 4px 0 0;}
.popup-tabs-nav li a{border-left: 1px solid #e0e0e0;border-right: 1px solid transparent;}
.popup-tabs-nav li:last-child a:hover{border-left: 1px solid #e0e0e0;border-right: none;}
.popup-tabs-nav li.active:after{right: 0;left: auto;}
.popup-tabs-nav li:first-child.active{border-right: none;border-left: none;border-radius: 0 4px 0 0;}
#sign-in-dialog.dialog-with-tabs .mfp-close, #small-dialog.dialog-with-tabs .mfp-close, #small-dialog-1.dialog-with-tabs .mfp-close, #small-dialog-2.dialog-with-tabs .mfp-close, #small-dialog-3.dialog-with-tabs .mfp-close, #small-dialog-4.dialog-with-tabs .mfp-close{border-right: 1px solid #e0e0e0;border-left: none;border-radius: 4px 0 0 0;left: 0;right: auto;}
.social-login-separator span{margin-right: -15px;margin-left: auto;}
.social-login-buttons button{margin-left: 20px;margin-right: auto;}
.social-login-buttons button i{margin-left: 7px;margin-right: auto;}
.account-type div{margin-left: 20px;margin-right: auto;}
.account-type label i{margin-left: 2px;margin-right: auto;}
.account-type input.account-type-radio:empty ~ label{float: right;}
.account-type input.account-type-radio:empty ~ label:after, .account-type input.account-type-radio:empty ~ label:before{right: 0;left: auto;background: right 0;}
.slider.slider-horizontal{margin-right: 11px;margin-left: auto;}
.slider.slider-horizontal .slider-track{right: -9px;left: auto;}
.slider.slider-horizontal .slider-handle{margin-right: -11px;margin-left: auto;}
.slider .tooltip-arrow{right: 50%;left: auto;border-right: 6px solid transparent;border-left: 6px solid transparent;}
.slider-track-low, .slider-track-high{background: right 0;}
.slider-handle:after{right: 0;left: auto;}
.slider-handle.custom:before{margin-right: -10px;margin-left: auto;}
.slider.slider-horizontal .slider-handle.custom{margin-right: -20px;margin-left: auto;}
.bootstrap-select > .dropdown-toggle{padding-left: 25px;padding-right: 0;}
.bootstrap-select > select{right: 50%;left: auto;}
.bootstrap-select > select.mobile-device{right: 0;left: auto;}
.bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*=col-]{margin-right: 0;}
.bootstrap-select.btn-group.dropdown-menu-right, .bootstrap-select.btn-group[class*=col-].dropdown-menu-right, .row .bootstrap-select.btn-group[class*=col-].dropdown-menu-right{float: left;}
.bootstrap-select.btn-group .dropdown-toggle .filter-option{text-align: right;float: right;}
.language-switcher.bootstrap-select.btn-group .dropdown-toggle .filter-option, .sort-by .bootstrap-select.btn-group .dropdown-toggle .filter-option{float: right;}
.bootstrap-select.btn-group .dropdown-toggle .caret{left: 20px;right: auto;}
.bootstrap-select.btn-group .dropdown-menu li small{padding-right: 7px;padding-left: 0;}
.bootstrap-select.show-menu-arrow .dropdown-toggle:before{border-right: 7px solid transparent;border-left: 7px solid transparent;right: 9px;left: auto;}
.bootstrap-select.show-menu-arrow .dropdown-toggle:after{border-right: 6px solid transparent;border-left: 6px solid transparent;right: 10px;left: auto;}
.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:before{left: 12px;right: auto;}
.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:after{left: 13px;right: auto;}
.bootstrap-select.btn-group .bs-actionsbox div button:first-child{border-radius: 0 4px 4px 0;}
.bootstrap-select.btn-group .bs-actionsbox div button:last-child{border-radius: 4px 0 0 4px;}
.bs-donebutton{float: right;}
.bs-searchbox:after{left: 15px;right: auto;}
.caret{margin-right: 2px;margin-left: auto;border-left: 4px solid transparent;border-right: 4px solid transparent;}
.dropdown-menu{right: 0;left: auto;float: right;text-align: right;}
.dropdown-menu.pull-right{left: 0;right: auto;}
.dropdown-menu > li > a{padding-left: 35px;padding-right: 0;}
.bootstrap-select:before{right: 0;left: auto;}
.dropdown-menu-right{left: 0;right: auto;}
.dropdown-menu-left{left: auto;right: 0;}
.dropdown-backdrop{left: 0;right: 0;}
.pull-right > .dropdown-menu{left: 0;right: auto;}
@media (min-width: 767px){.navbar-right .dropdown-menu{left: 0;right: auto;}
.navbar-right .dropdown-menu-left{left: auto;right: 0;}
}
.bootstrap-select.btn-group .dropdown-menu li a span.check-mark{left: 8px;right: auto;}
.bootstrap-select.btn-group .dropdown-menu li span.check-mark:before{left: 0;right: auto;}
.bootstrap-select .glyphicon:not(.check-mark){margin-left: 3px;margin-right: auto;}
.with-border.bootstrap-select:before{right: 1px;left: auto;}
.snackbar-container .action{margin: 0 24px 0 0 ;}
.snackbar-pos.bottom-center{right: 50%;left: auto;}
.snackbar-pos.bottom-left{right: 0;left: auto;}
.snackbar-pos.bottom-right{left: 0;right: auto;}
.snackbar-pos.top-left{right: 0;left: auto;}
.snackbar-pos.top-center{right: 50%;left: auto;}
.snackbar-pos.top-right{left: 0;right: auto;}
@media (max-width: 640px){.snackbar-container{right: 0;left: 0;}
.snackbar-pos.bottom-center, .snackbar-pos.top-center{right: 0;left: auto;}
}
body .pac-container{border-radius: 0 0 4px 4px;}
#map-container{right: 0;left: auto;}
.search-bar-on-map{right: 0;left: 0;}
.marker-container{margin: -9px -9px 0 0 ;}
.marker-container:before{right: 0;left: auto;}
.zoomControlWrapper{right: initial;left: 0;margin-left: 20px;margin-right: auto;}
#streetView, #geoLocation, #scrollEnabling{right: 5px;left: auto;}
#streetView:before{margin-left: 7px;margin-right: -1px;}
.leaflet-pane, .leaflet-tile, .leaflet-marker-icon, .leaflet-marker-shadow, .leaflet-tile-container, .leaflet-pane > svg, .leaflet-pane > canvas, .leaflet-zoom-box, .leaflet-image-layer, .leaflet-layer{right: 0;left: auto;}
.leaflet-control{float: right;}
.leaflet-right{left: 0;right: auto;}
.leaflet-left{right: initial;left: 15px;}
.leaflet-right .leaflet-control{float: left;margin-left: 10px;margin-right: auto;}
.leaflet-left .leaflet-control{margin-right: 10px;margin-left: auto;}
.leaflet-bar a, .leaflet-control-layers-toggle{background-position: 50% 50%;}
.leaflet-touch .leaflet-bar a i{right: -1px;left: auto;}
.leaflet-control-layers-expanded{padding: 6px 6px 6px 10px ;}
.leaflet-control-layers-scrollbar{padding-left: 5px;padding-right: 0;}
.leaflet-control-layers-separator{margin: 5px -6px 5px -10px ;}
.leaflet-left .leaflet-control-scale{margin-right: 5px;margin-left: auto;}
.leaflet-popup-content-wrapper{text-align: right;}
.leaflet-listing-img-container img{border-radius: 4px 4px 0 0;}
.leaflet-listing-img-container:before{background: linear-gradient(to top, rgba(35, 35, 37, 0.85) 100% rgba(35, 35, 37, 0.40) 35%, rgba(22, 22, 23, 0) 60%, rgba(0, 0, 0, 0) 100%);}
.leaflet-listing-item-content{right: 0;left: auto;}
.leaflet-popup-tip-container{right: 50%;left: auto;margin-right: -15px;margin-left: auto;background: right 0;}
.leaflet-popup-tip{border-right: 15px solid transparent;border-left: 15px solid transparent;}
.leaflet-container a.leaflet-popup-close-button{left: 12px;right: auto;}
.leaflet-container a.leaflet-popup-close-button:before{right: 0;left: 0;}
.leaflet-popup-content-wrapper .job-listing .verified-badge{left: -7px;right: auto;}
.leaflet-popup-content-wrapper .job-listing .job-listing-company-logo{margin: 5px 0 5px 18px ;}
.leaflet-tooltip-top:before, .leaflet-tooltip-bottom:before, .leaflet-tooltip-left:before, .leaflet-tooltip-right:before{background: right 0;}
.leaflet-tooltip-bottom:before, .leaflet-tooltip-top:before{right: 50%;left: auto;margin-right: -6px;margin-left: auto;}
.leaflet-tooltip-bottom:before{margin-right: -6px;margin-left: auto;}
.leaflet-tooltip-left{margin-right: -6px;margin-left: auto;}
.leaflet-tooltip-right{margin-right: 6px;margin-left: auto;}
.leaflet-tooltip-left:before{left: 0;right: auto;margin-left: -12px;margin-right: auto;border-right-color: #fff;border-left-color: unset;}
.leaflet-tooltip-right:before{right: 0;left: auto;margin-right: -12px;margin-left: auto;border-left-color: #fff;border-right-color: unset;}
.marker-cluster div{margin-right: 5px;margin-left: auto;}
.marker-cluster div:before{right: 0;left: auto;}
.leaflet-control-geocoder-error{margin-right: 8px;margin-left: auto;}
.leaflet-control-geocoder-alternatives li a, .leaflet-control-geocoder-alternatives li a:hover{text-align: right;}
.leaflet-container:after{right: 0;left: 0;}
#leaflet-geocode-cont{border-radius: 0 0 4px 4px;}
#leaflet-geocode-cont ul li{padding-right: 38px;padding-left: 0;}
#leaflet-geocode-cont ul li:before{right: 20px;left: auto;margin-left: 0;}
#leaflet-geocode-cont ul li:last-child{border-radius: 0 0 4px 4px;}
.type-and-hit-enter{left: 16px;right: auto;}
@media (min-width: 992px){.intro-banner-search-form .type-and-hit-enter{left: 18px;right: auto;}
.intro-banner-search-form #leaflet-geocode-cont{right: -12px;left: auto;}
}
.main-search-input.gray-style .type-and-hit-enter, .main-search-inner .type-and-hit-enter{left: 25px;right: auto;}
.main-search-container.alt-search-box .type-and-hit-enter{left: 19px;right: auto;}
#leaflet-geocode-cont ul li.powered-by-osm{padding-left: 20px;padding-right: 0;text-align: left;}
#leaflet-geocode-cont ul li.powered-by-osm strong{padding-right: 26px;padding-left: 0;}
#leaflet-geocode-cont ul li.powered-by-osm strong:before{right: 5px;left: auto;}
.boxed-list-headline h3 i{margin-left: 5px;margin-right: auto;}
.boxed-list-item .item-image{margin-left: 25px;margin-right: auto;}
.boxed-list-item .item-details .star-rating{margin-left: 15px;margin-right: auto;}
.boxed-list-item .item-details .detail-item{margin-left: 15px;margin-right: auto;}
.boxed-list-item .item-details .detail-item i{margin-left: 3px;margin-right: auto;}
.bid .freelancer-avatar{margin-left: 30px;margin-right: auto;}
.bid .freelancer-avatar .verified-badge{left: 0;right: auto;}
.job-overview .job-overview-headline{border-radius: 4px 4px 0 0;}
.job-overview .job-overview-inner ul li{padding-right: 38px;padding-left: 0;}
.job-overview .job-overview-inner ul li i{right: 0;left: auto;}
a.apply-now-button i{margin-right: 5px;margin-left: auto;}
.freelancer-socials ul{margin: 0 -8px -5px 0 ;}
.attachment-box{margin: 0 0 20px 20px ;border-radius: 0 4px 4px 4px;padding-left: 25px;padding-right: 0;}
.attachment-box:before{left: 0;right: auto;border-width: 0 0 20px 20px ;border-color: rgba(0, .15) 0, 0, #fff;border-radius: 0 0 4px 0;}
a.attachment-box:hover:before{border-color: rgba(0, .25) 0, 0, #fff;}
.attachment-box .remove-attachment{left: 10px;right: auto;}
.profile-overview .overview-item{border-left: 1px solid #e0e0e0;border-right: none;margin-left: 20px;margin-right: auto;padding-left: 20px;padding-right: 0;}
.profile-overview .overview-item:last-child{border-left: 0;border-right: none;padding-left: 0;}
.freelancer-indicators .indicator{margin-left: 30px;margin-right: auto;}
@media (min-width: 1099px){#header-container.dashboard-header .container{padding-left: 35px;padding-right: 0;}
#header-container.dashboard-header #logo{padding-right: 35px;padding-left: 0;}
}
.dashboard-nav ul li{border-right: 3px solid transparent;border-left: none;}
.dashboard-nav ul li a i{padding-left: 8px;padding-right: 0;}
.dashboard-nav ul li ul li:hover a{padding-right: 4px;padding-left: 0;}
.dashboard-nav ul li span.nav-tag{margin: 0 4px 0 0 ;}
.dashboard-nav ul li ul li{padding-right: 63px;padding-left: 0;}
.dashboard-nav ul li a:after{margin-right: 7px;margin-left: auto;left: 35px;right: auto;}
.dashboard-headline #breadcrumbs{left: 0;right: auto;}
.fun-fact{margin-left: 30px;margin-right: auto;}
.fun-fact-text{margin-left: 20px;margin-right: auto;}
.dashboard-box .headline h3 i{margin-left: 4px;margin-right: auto;}
.dashboard-box .headline h3 i.icon-feather-folder-plus{margin-left: 5px;margin-right: auto;}
.button.big i.icon-feather-plus{margin-right: -4px;margin-left: 5px;}
.dashboard-box .chart{padding: 30px 18px 17px 20px ;}
.dashboard-box .headline .sort-by{left: 30px;right: auto;}
.dashboard-note:before{left: 0;right: auto;border-width: 0 0 20px 20px ;border-color: rgba(0, .15) 0, 0, #fff;border-radius: 0 0 4px 0;}
.note-buttons{margin-right: auto;margin-left: auto;}
.note-buttons a{padding-right: 3px;padding-left: 0;}
.add-note-button{right: 0;left: 0;}
.buttons-to-right, .dashboard-box-list .button.to-right{left: 30px;right: auto;}
.dashboard-box-list .buttons-to-right.always-visible:not(.single-right-button){margin: 5px -2px 10px 0 ;left: auto;right: auto;}
.dashboard-box-list .button i[class*=icon-material]{margin-left: 2px;margin-right: -2px;}
.dashboard-box-list .buttons-to-right .button{margin: 0 2px -6px 0 ;}
.dashboard-box-list .buttons-to-right.always-visible .button{margin: 0 0 0 3px ;}
.dashboard-box .button.ico i{margin-right: -7px;margin-left: auto;}
.dashboard-box .button i.icon-material-outline-check{margin-right: -5px;margin-left: auto;}
.dashboard-box .button.ico i[class*=icon-material]{margin-right: -8px;margin-left: auto;}
.dashboard-box-list a.button i{margin-right: -2px;margin-left: auto;}
.dashboard-box .mark-as-read{left: 30px;right: auto;}
.button-info{margin-right: 3px;margin-left: -2px;}
.dashboard-status-button{margin: 0 4px 4px 0 ;}
.dashboard-box .freelancer-overview .freelancer-name{text-align: right;margin: 0 30px 0 0 ;}
.dashboard-task-info{left: 30px;right: auto;}
.dashboard-task-info li{border-left: 1px solid #d0d0d0;border-right: none;padding-left: 22px;padding-right: 0;margin-left: 22px;margin-right: auto;}
.dashboard-task-info li:last-child{margin-left: 0;padding-left: 0;}
.submit-field .pac-container{right: 0 !important;left: auto;border-radius: 0 0 4px 4px;}
.avatar-wrapper{margin: 0 0 30px 10px ;}
.avatar-wrapper .profile-pic:after{right: 0;left: auto;}
.avatar-wrapper .upload-button{right: 0;left: auto;}
.dashboard-content-inner .small-footer{right: 0;left: auto;}
.messages-headline{border-radius: 4px 4px 0 0;}
.messages-headline .input-with-icon i{left: 14px;right: auto;}
.message-action{left: 30px;right: auto;}
.message-action i{margin-left: 1px;margin-right: auto;}
.messages-inbox ul li:before{right: 0;left: auto;}
.messages-inbox .message-avatar{right: 30px;left: auto;}
.messages-inbox .message-by{margin-right: 85px;margin-left: auto;}
.message-by-headline span{float: left;}
.message-by h5 i{margin-right: 3px;margin-left: auto;}
.messages-container-inner .messages-inbox{border-left: 1px solid #eaeaea;border-right: none;}
.messages-container-inner .messages-inbox .message-avatar{right: 25px;left: auto;}
.messages-container-inner .messages-inbox .message-by{margin-right: 60px;margin-left: auto;}
.messages-container-inner .message-by-headline span{left: 25px;right: auto;}
.message-bubble .message-avatar{right: 0;left: auto;}
.message-bubble .message-text{margin-right: 70px;margin-left: auto;float: right;}
.message-bubble.me .message-text{float: left;margin-right: 0;margin-left: 70px;}
.message-bubble.me .message-avatar{right: auto;left: 0;}
.message-bubble .message-text:before{border-left: 6px solid #f4f4f4;border-right: none;right: -6px;left: auto;}
.message-bubble.me .message-text:before{border-right: 6px solid #66676b;border-left: none;left: -6px;right: auto;}
.message-reply textarea{margin: 0 0 0 15px ;}
.typing-indicator span{float: right;}
.section-headline{padding-left: 20%;padding-right: 0;}
a.headline-link{left: 0;right: auto;}
a.headline-link:after{margin-right: 5px;margin-left: auto;}
.icon-set-container{right: -15px;left: auto;}
.glyph.fs1 .mls:not([class*=icon-]){padding-right: 55px;padding-left: 0;}
.margin-left-auto{margin-right: auto;margin-left: 0;}
.margin-left-0{margin-right: 0 !important;margin-left: auto;}
.margin-left-1{margin-right: 1px !important;margin-left: auto;}
.margin-left-2{margin-right: 2px !important;margin-left: auto;}
.margin-left-3{margin-right: 3px !important;margin-left: auto;}
.margin-left-4{margin-right: 4px !important;margin-left: auto;}
.margin-left-5{margin-right: 5px !important;margin-left: auto;}
.margin-left-6{margin-right: 6px !important;margin-left: auto;}
.margin-left-7{margin-right: 7px !important;margin-left: auto;}
.margin-left-8{margin-right: 8px !important;margin-left: auto;}
.margin-left-9{margin-right: 9px !important;margin-left: auto;}
.margin-left-10{margin-right: 10px !important;margin-left: auto;}
.margin-left-15{margin-right: 15px !important;margin-left: auto;}
.margin-left-20{margin-right: 20px !important;margin-left: auto;}
.margin-left-25{margin-right: 25px !important;margin-left: auto;}
.margin-left-30{margin-right: 30px !important;margin-left: auto;}
.margin-left-35{margin-right: 35px !important;margin-left: auto;}
.margin-left-40{margin-right: 40px !important;margin-left: auto;}
.margin-left-45{margin-right: 45px !important;margin-left: auto;}
.margin-left-50{margin-right: 50px !important;margin-left: auto;}
.margin-left-55{margin-right: 55px !important;margin-left: auto;}
.margin-left-60{margin-right: 60px !important;margin-left: auto;}
.margin-left-65{margin-right: 65px !important;margin-left: auto;}
.margin-left-70{margin-right: 70px !important;margin-left: auto;}
.margin-left-75{margin-right: 75px !important;margin-left: auto;}
.margin-left-80{margin-right: 80px !important;margin-left: auto;}
.margin-left-85{margin-right: 85px !important;margin-left: auto;}
.margin-left-90{margin-right: 90px !important;margin-left: auto;}
.margin-left-95{margin-right: 95px !important;margin-left: auto;}
.margin-left-100{margin-right: 100px !important;margin-left: auto;}
.margin-right-0{margin-left: 0 !important;margin-right: auto;}
.margin-right-1{margin-left: 1px !important;margin-right: auto;}
.margin-right-2{margin-left: 2px !important;margin-right: auto;}
.margin-right-3{margin-left: 3px !important;margin-right: auto;}
.margin-right-4{margin-left: 4px !important;margin-right: auto;}
.margin-right-5{margin-left: 5px !important;margin-right: auto;}
.margin-right-6{margin-left: 6px !important;margin-right: auto;}
.margin-right-7{margin-left: 7px !important;margin-right: auto;}
.margin-right-8{margin-left: 8px !important;margin-right: auto;}
.margin-right-9{margin-left: 9px !important;margin-right: auto;}
.margin-right-10{margin-left: 10px !important;margin-right: auto;}
.margin-right-15{margin-left: 15px !important;margin-right: auto;}
.margin-right-20{margin-left: 20px !important;margin-right: auto;}
.margin-right-25{margin-left: 25px !important;margin-right: auto;}
.margin-right-30{margin-left: 30px !important;margin-right: auto;}
.margin-right-35{margin-left: 35px !important;margin-right: auto;}
.margin-right-40{margin-left: 40px !important;margin-right: auto;}
.margin-right-45{margin-left: 45px !important;margin-right: auto;}
.margin-right-50{margin-left: 50px !important;margin-right: auto;}
.margin-right-55{margin-left: 55px !important;margin-right: auto;}
.margin-right-60{margin-left: 60px !important;margin-right: auto;}
.margin-right-65{margin-left: 65px !important;margin-right: auto;}
.margin-right-70{margin-left: 70px !important;margin-right: auto;}
.margin-right-75{margin-left: 75px !important;margin-right: auto;}
.margin-right-80{margin-left: 80px !important;margin-right: auto;}
.margin-right-85{margin-left: 85px !important;margin-right: auto;}
.margin-right-90{margin-left: 90px !important;margin-right: auto;}
.margin-right-95{margin-left: 95px !important;margin-right: auto;}
.margin-right-100{margin-left: 100px !important;margin-right: auto;}
.padding-right-0{padding-left: 0 !important;padding-right: 0;}
.padding-right-5{padding-left: 5px !important;padding-right: 0;}
.padding-right-10{padding-left: 10px !important;padding-right: 0;}
.padding-right-15{padding-left: 15px !important;padding-right: 0;}
.padding-right-20{padding-left: 20px !important;padding-right: 0;}
.padding-right-25{padding-left: 25px !important;padding-right: 0 !important;}
.padding-right-30{padding-left: 30px !important;padding-right: 0;}
.padding-right-35{padding-left: 35px !important;padding-right: 0;}
.padding-right-40{padding-left: 40px !important;padding-right: 0;}
.padding-right-45{padding-left: 45px !important;padding-right: 0;}
.padding-right-50{padding-left: 50px !important;padding-right: 0;}
.padding-right-55{padding-left: 55px !important;padding-right: 0;}
.padding-right-60{padding-left: 60px !important;padding-right: 0;}
.padding-right-65{padding-left: 65px !important;padding-right: 0;}
.padding-right-70{padding-left: 70px !important;padding-right: 0;}
.padding-right-75{padding-left: 75px !important;padding-right: 0;}
.padding-right-80{padding-left: 80px !important;padding-right: 0;}
.padding-right-85{padding-left: 85px !important;padding-right: 0;}
.padding-right-90{padding-left: 90px !important;padding-right: 0;}
.padding-right-95{padding-left: 95px !important;padding-right: 0;}
.padding-right-100{padding-left: 100px !important;padding-right: 0;}
.padding-left-0{padding-right: 0 !important;padding-left: 0;}
.padding-left-5{padding-right: 5px !important;padding-left: 0;}
.padding-left-10{padding-right: 10px !important;padding-left: 0;}
.padding-left-15{padding-right: 15px !important;padding-left: 0;}
.padding-left-20{padding-right: 20px !important;padding-left: 0;}
.padding-left-25{padding-right: 25px !important;padding-left: 0;}
.padding-left-30{padding-right: 30px !important;padding-left: 0;}
.padding-left-35{padding-right: 35px !important;padding-left: 0;}
.padding-left-40{padding-right: 40px !important;padding-left: 0;}
.padding-left-45{padding-right: 45px !important;padding-left: 0;}
.padding-left-50{padding-right: 50px !important;padding-left: 0;}
.padding-left-55{padding-right: 55px !important;padding-left: 0;}
.padding-left-60{padding-right: 60px !important;padding-left: 0;}
.padding-left-65{padding-right: 65px !important;padding-left: 0;}
.padding-left-70{padding-right: 70px !important;padding-left: 0;}
.padding-left-75{padding-right: 75px !important;padding-left: 0;}
.padding-left-80{padding-right: 80px !important;padding-left: 0;}
.padding-left-85{padding-right: 85px !important;padding-left: 0;}
.padding-left-90{padding-right: 90px !important;padding-left: 0;}
.padding-left-95{padding-right: 95px !important;padding-left: 0;}
.padding-left-100{padding-right: 100px !important;padding-left: 0;}
.headline-right{left: 10px;right: auto;}
.dialog-with-tabs{text-align: right;}
.dialog-with-tabs .mfp-close{border-right: 1px solid #e0e0e0;border-left: none;border-radius: 4px 0 0 0;left: 0;right: auto;}
.card-img-top{border-top-right-radius: calc(.25rem - 1px);border-top-left-radius: calc(.25rem - 1px);}
.card-body{border-radius: 20px 20px 0 0;}
.button-progress:before{background: right 0;border-right-color: transparent;border-left-color: unset;right: 50%;left: auto;margin-right: -10px;margin-left: auto;}
.float-right{float: left;}
.float-left{float: right;}
.menu_detail{text-align: right;}
.menu_detail .menu_title{padding-left: 40px;padding-right: 0;}
.menu_detail .menu_price{left: 0;right: auto;}
.menu_detail .menu_dots{right: 0;left: 0;}
.checkbox.custom.right label span.checkbox-icon{right: auto;left: 0;}
.checkbox.custom.right label{padding-left: 30px;padding-right: 0;}
.service_content .nav-tabs{padding-left: 80px;padding-right: 0;}
.cookieConsentContainer{padding: 30px 30px 30px 30px ;right: 30px;left: auto;}
a + .recent-post-widget-content{padding-right: 20px;padding-left: 0;}
.commenting-as label{margin-left: 15px;margin-right: auto;}
.comments-avatar{float: right;}
@media(max-width:767px){.latest-comments li.children-2{margin-right: 20px;margin-left: auto;}
.latest-comments li.children-3{margin-right: 40px;margin-left: auto;}
}
.comments-avatar img{margin-left: 20px;margin-right: auto;}
.latest-comments li.children-2{margin-right: 80px;margin-left: auto;}
.latest-comments li.children-3{margin-right: 160px;margin-left: auto;}
.comments-reply{left: 0;right: auto;}
.comments-reply i{margin-left: 5px;margin-right: auto;}
.single-testimonial .testimonial-content::before{right: 0;left: auto;}
.single-testimonial .testimonial-content::after{left: 0;right: auto;}
.single-testimonial .testi-author-info{padding-right: 85px;padding-left: 0;}
.single-testimonial .testi-author-info .image{right: 0;left: auto;}
.faq-list_h{padding: 0 40px 0 0 ;background: right 0;}
.faq-list .marker, .faq-list .marker1{right: 0;left: auto;}
.faq-list .m_13{padding-right: 40px;padding-left: 0;}
.qr-input-number__decrease{right: 1px;left: auto;border-radius: 0 4px 4px 0;border-left: 1px solid #dcdfe6;border-right: none;}
.qr-input-number__increase{left: 1px;right: auto;border-radius: 4px 0 0 4px;border-right: 1px solid #dcdfe6;border-left: none;}
.qr-input-number .qr-input__inner{padding-right: 40px;padding-left: 40px;}
#add-order-button{margin: 0 10px 0 0 ;}
#view-order-wrapper{right: 0;left: 0;}
.your-order-item .menu-data{padding: 0 21px 0 0 ;}